rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra geral: Permite acesso de leitura e escrita apenas a usuários autenticados.
    // Você pode refinar essas regras para serem mais específicas por coleção (ex: /users/{userId}).
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Exemplo de regra mais específica:
    // Apenas o usuário dono do documento pode ler ou escrever seus próprios dados.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Checklists só podem ser lidos por usuários autenticados.
    match /completed-checklists/{checklistId} {
        allow read, write: if request.auth != null;
    }

    match /checklist-templates/{templateId} {
        allow read, write: if request.auth != null;
    }

    match /vehicles/{vehicleId} {
        allow read, write: if request.auth != null;
    }

     match /pneus/{pneuId} {
        allow read, write: if request.auth != null;
    }

     match /manutencoes/{manutencaoId} {
        allow read, write: if request.auth != null;
    }
  }
}
